
<%unless list_events.empty?%>
    <ul>        
        <%list_events.each do |event|%>
            <li><%="#{event.name.capitalize} #{event.date if defined?(print_date) && print_date} "%> <%= link_to "*", event_path(event.id) %></li>
        <%end%>
    </ul>
<%else%>
    <div>-</div>
<%end%>