<h1>Event#index</h1>
<p>Find me in app/views/event/index.html.erb</p>

<%=render "shared/session_handler"%>

<h2>list of all Events</h1>
<div class="calendar">
<%@events.sort_by(&:date).each do |event|%>
    <div class="event">
        <h3><%= event.name %></h3>
        <div><%= event.date %></div>
        <div><%= event.location %></div>
    </div>
<%end%>
</div>

